# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*~
.pc
.vscode

# Test binaries, built with `go test -c`
*.test
*.cover

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Development artifacts, backups, etc
*.swp
*.swo

# Dependency directories (remove the comment below to include it)
# vendor/

#test binaries
pkg/csplugin/tests/cs_plugin_test*

#test cache (downloaded files)
.cache

#release stuff
crowdsec-v*
pkg/cwhub/hubdir/.index.json
msi
*.msi
**/*.nupkg
*.tgz
